.gridOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.gridTwo>.gridTwo-1 {
    background-color: red;
}

.gridTwo>.gridTwo-2 {
    background-color: blue;
}

.gridTwo>.gridTwo-3 {
    background-color: yellow;
}

.gridThree {
    width: 500px;
    height: 300px;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.gridThree>.gridThree-1 {
    background-color: gray;
}

.gridThree>.gridThree-2 {
    background-color: orange;
}

.gridFour {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: green;
    width: 500px;

}

.gridFour > #gridFour-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridFive {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: grey;
    width: 500px;

}

.gridFive > #gridFive-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.gridSix {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: lightgrey;
    width: 500px;
}

.gridSix > .gridSix-2 p {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.objectfit {
    object-fit: cover;
}